:root {
  font-size: 62.5%;

  --azul: rgb(55, 113, 200);
  --sky: skyblue;
  --golden: rgb(250, 210, 110);
  --doger: rgb(0, 158, 210);
  --aqua: rgb(0, 187, 124);
  --morado: rgb(168, 88, 208);
  --naranja: chocolate;

  --letraBig: 2.5rem;
}
body {
  background-color: #242424;
  color: rgb(205, 205, 205);
  font-size: clamp(2rem, 1vw + 4px, 2.3rem);
  font-family:
    system-ui,
    Segoe UI,
    Arial,
    sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
}
nav button {
  background-color: black;
  color: white;
  padding: 0 30px;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: none;
}
nav button:hover {
  background: #5a5959;
}
nav a {
  text-decoration: none;
  color: white;
}
nav ul {
  background-color: #111111;
  width: 260px;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 80px;
  color: rgb(244, 249, 253);
}
header h1 {
  font-size: clamp(10rem, 6vw + 12px, 12rem);
  color: #f0c431;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header p {
  margin: 0;
}

section {
  width: 70%;
  min-width: 700px;
  margin: 120px auto;
  padding-bottom: 100px;
  border-bottom: 1px solid;
}
section:nth-of-type(1) {
  margin-top: 100px;
}

/* TITULOS */
h2 {
  color: #f0c431;
  margin: 200px 0 100px;
  text-align: center;
  font-size: 6rem;
}
h3 {
  font-size: clamp(4.3rem, 3vw, 4.8rem);
  margin: 100px auto 35px;
  font-weight: 700;
  color: white;
}
h4 {
  font-size: clamp(3.4rem, 2vw + 3px, 3.7rem);
  color: white;
  margin-bottom: 30px;
}
h5 {
  font-size: clamp(2.5rem, 1vw + 10px, 2.8rem);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 20px;
}

/* TAMAÑOS Y FUENTES DE LETRAS */
.letra-big {
  font-size: var(--letraBig);
  font-weight: 700;
}

/* COLORES LETRAS */
.letra-B {
  color: white;
}
.monospace {
  font-family: monospace;
}
.azul {
  color: var(--azul);
}
.sky {
  color: var(--sky);
}
.doger {
  color: var(--doger);
}
.golden {
  color: var(--golden);
}
.naranja {
  color: var(--naranja);
}
.verde {
  color: rgb(64, 185, 64);
}
.morado {
  color: var(--morado);
}
.aqua {
  color: var(--aqua);
}

/* COLORES FONDOS */
.fondo-azul {
  background-color: rgb(55, 113, 200);
}
.fondo-sky {
  background-color: skyblue;
}
.fondo-doger {
  background-color: rgb(0, 158, 210);
}
.fondo-golden {
  background-color: rgb(254, 210, 99);
}
.fondo-naranja {
  background-color: chocolate;
}
.fondo-verde {
  background-color: rgb(87, 176, 87);
}
.fondo-morado {
  background-color: rgb(168, 88, 208);
}
.fondo-aqua {
  background-color: rgb(0, 187, 124);
}

/* LISTAS */
ul {
  list-style: none;
  /* margin: 30px 0; */
}
li {
  list-style: none;
  margin-top: 10px;
}

/* TABLAS */
table {
  border-collapse: collapse;
  width: 90%;
  margin: 60px auto;
  font-size: 2rem;
  box-shadow: 0 0 10px #101010;
}
caption {
  background-color: #111111;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 8px;
  color: white;
}
th {
  background-color: var(--azul);
  color: white;
}
table tr:nth-child(even) {
  background: #333131;
}
th,
td {
  box-shadow: 1px 1px 4px rgb(53, 50, 50);
  padding: 10px;
  vertical-align: top;
}
.table-metodos td:nth-child(1) {
  font-weight: bold;
  color: var(--golden);
  font-family: monospace;
}
.table-propiedades td:nth-child(1) {
  font-weight: bold;
  color: var(--doger);
  font-family: monospace;
}
.table-info td:nth-child(1) {
  font-weight: bold;
  color: white;
}

/* BOTONES */
.btn-simple {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: skyblue 3px solid;
  border-radius: 5px;
}
.btn-simple2 {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: rgb(233, 235, 235) 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.btn-flechas {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 0;
}

.btn-consola {
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  border: white 1px solid;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}
.btn-consola:hover {
  border: #f0c431 1px solid;
  box-shadow: 0 3px 5px gray;
  transform: translateY(-2px);
  color: #f0c431;
}
.codigo-consola .btn-flechas {
  background-color: transparent;
  width: auto;
  border: none;
  font-size: 1.8rem;
  margin: 0;
}

/* especial */
.btn-ejecutar {
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 15px;
}
.btn-ejecutar > p {
  margin: 0;
  padding: 7px;
}
.btn-ejecutar > span {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
}
.btn-ejecutar:hover {
  transform: scale(1.01);
}

/* CONTENEDORES */
.seccion {
  width: 92%;
  margin: 40px auto;
}

.bloques-ocultos {
  background-color: #161515;
  padding: 20px;
}
.bloques-oscuros {
  background-color: #191818;
  border-radius: 10px;
  padding: 1px 30px 40px;
  margin: 100px auto;
}
.sintaxis {
  background: #111111;
  padding: 10px;
  text-align: center;
  font-family: monospace;
  font-size: 1.8rem;
}

.codigo {
  color: white;
  display: flex;
  margin: 40px auto 80px;
  font-size: clamp(1.9rem, 1vw + 3px, 2.1rem);
  font-family: monospace;
  line-height: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.codigo p {
  padding: 15px 0;
  margin: 0;
}
.codigo > p:nth-child(1) {
  width: 100px;
  background-color: rgb(20, 20, 20);
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.codigo > div:nth-child(2) {
  width: 100%;
  background: rgb(46, 49, 52);
  display: flex;
  justify-content: center;
}

/* CONTROLS CONSOLA */
.control-consola {
  margin: 100px auto 5px;
}
.control-consola button {
  background-color: rgb(20, 20, 20);
  border: none;
  border-bottom: 4px inset transparent;
  box-shadow: 0 5px 5px rgb(15, 15, 15);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px;
}
.control-consola button:hover {
  border-bottom: var(--golden) solid 4px;
}

/*               CODIGO Y CONSOLA */

.codigo-consola {
  display: flex;
  width: 100%;
  box-shadow: 0 0 10px rgb(10, 10, 10);
  font-family: monospace;
  font-size: 1.7rem;
}
.codigo-consola > div {
  padding: 25px 20px 30px;
  box-sizing: border-box;
  overflow-x: auto;
}
.codigo-consola > div p:first-child {
  margin-top: 0;
}
.codigo-consola > div:nth-child(1) {
  background-color: rgb(22, 22, 22);
  width: 60%;
}
.codigo-consola > div:nth-child(2) {
  background-color: rgb(16, 16, 16);
  width: 40%;
}

.codigo-consola input {
  font-size: 1.6rem;
  background-color: transparent;
  border: rgb(220, 194, 194) 1px solid;
  border-radius: 10px;
  color: white;
}

@media (max-width: 1200px) {
  .codigo-consola {
    flex-direction: column;
  }
  .codigo-consola > div:nth-child(1) {
    width: 100%;
  }
  .codigo-consola > div:nth-child(2) {
    width: 100%;
  }
}

/* MARGENES */
.margen60 {
  margin-top: 60px;
}
.margen100 {
  margin-top: 100px;
}
.margen150 {
  margin-top: 150px;
}
.margen0 {
  margin: 0;
}
.margenTop0 {
  margin-top: 0;
}
.margenIz {
  padding-left: 24px;
}

/* Delegation pattern */
#elementosDinamicos {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}
#elementosDinamicos div {
  border: 1px white solid;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.next-example {
  background-color: transparent;
  margin-bottom: 30px;
  margin-left: 40px;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
}

.notas {
  background-color: #303030;
  color: white;
  margin: 50px auto 20px;
  border-left: 10px solid var(--azul);
  padding: 20px 10px;
  font-size: 1.8rem;
}

#tabla-variables {
  border-collapse: collapse;
  margin: 50px auto;
}
#tabla-variables td,
#tabla-variables th {
  border: white solid 1px;
  padding: 10px;
}

/* Red Social */
#red-social {
  display: flex;
  background-color: #171616;
  padding: 15px;
  gap: 20px;
}
#red-social > div:nth-child(1) {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#red-social > div:nth-child(2) {
  width: 40%;
  font-size: 1.2rem;
}

#red-social #verificarUsuario,
#red-social #crearUsuario {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#red-social #Bienvenida {
  background-color: #3677c6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#red-social input {
  height: 30px;
  width: 200px;
  font-size: 1.2rem;
}

#red-social button {
  height: 30px;
  width: 100px;
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  border: none;
}
#red-social button:nth-child(1) {
  background-color: rgb(3, 162, 0);
}
#red-social button:nth-child(2) {
  background-color: rgb(33, 99, 223);
}

@media (max-width: 1200px) {
  section {
    width: 90%;
  }
}
